  body {
      margin:0;
      padding:0;
      background: #f4f4f4;
      font-family: Raleway;
  }
  .box {
      padding: 20px 20px;
      margin:0 auto;
      background: #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }
  h1, p {
      margin:0;
      padding:0;
  }
  h1 {
    margin-bottom: 15px;
  }
  a {
      padding: 10px 15px;
      background: #2BAB52;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      color:#fff;
      text-decoration: none;
      font-weight: 500; 
  }