<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>El Coladero - Detalle de pregunta</title>
		<style>
			header.title {
				margin-left: auto;
		    margin-right: auto;
		    width: 30em
			}
			
			form.contestar {
			  margin-left: auto;
		    margin-right: auto;
		    width: 30em
			}
			
			table {
				border: solid 1px;
			}
			
			table.reply {
				position: relative;
				left: 5em;
			}
			
			td.title {
				font-weight: bold;
			}
		</style> 
	</head>
	<body>
		<header class="title"><h1>El Coladero</h1></header>
		<header class="title"><h2>Foro de preguntas y respuestas</h2></header>
		
    <form action="search_question">
		Búsqueda por etiqueta: <input type="search" name="tag"><input type="submit" value="Buscar">
		</form> 
		</br>
		
		<table class="question">
			<tr>
		    <td>Título:</td>
		    <td class="title">{{!q[1]}}</td>
		  <tr>
		  <tr>
		    <td>Autor:</td>
		    <td>{{!q[0]}}</td>
		  <tr>
		  <tr>
		    <td>Fecha:</td>
		    <td>{{!q[2]}}</td>
		  <tr>
		  <tr>
		    <td>Etiquetas:</td>
		    <td>{{!q[3]}}</td>
		  <tr>
		  <tr>
		    <td>Cuerpo:</td>
		    <td>{{!q[4]}}</td>
		  <tr>
		</table>
		</br></br>

		% for r in replies:
		<table class="reply">
		  <tr>
		    <td>Autor:</td>
		    <td>{{!r[0]}}</td>
		  <tr>
		  <tr>
		    <td>Fecha:</td>
		    <td>{{!r[1]}}</td>
		  <tr>
		  <tr>
		    <td>Cuerpo:</td>
		    <td>{{!r[2]}}</td>
		  <tr>
		</table>
		</br>
		% end
		
		</br></br>
		<form class="contestar" action="insert_reply" method="POST">
	  Autor: <input type="text" name="author">
	  </br>
	  Cuerpo: <textarea rows="4" cols="50" name="body"></textarea>
	  </br>
	  <input type="hidden" name="question_id" value="{{ident}}">
	  <input type="submit" value="Contestar">
		</form> 
	  
	</body>
</html>
