<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>El Coladero - Todas las preguntas</title>
		<style>
			header.title {
				margin-left: auto;
		    margin-right: auto;
		    width: 30em
			}
			
			form.preguntar {
			  margin-left: auto;
		    margin-right: auto;
		    width: 30em
			}
			
			table.question {
				border: solid 1px;
			  position: relative;
			}
			
			td.title {
				font-weight: bold;
			}
		</style> 
	</head>
	<body>
		<header class="title"><h1>El Coladero</h1></header>
		<header class="title"><h2>Foro de preguntas y respuestas</h2></header>
		
    <form action="search_question">
		Búsqueda por etiqueta: <input type="search" name="tag"><input type="submit" value="Buscar">
		</form> 
		</br>
		
		% for q in questions:	
		<table class="question">
			<tr>
		    <td>Título:</td>
		    <td class="title">{{!q[1]}}</td>
		  <tr>
		  <tr>
		    <td>Autor:</td>
		    <td>{{!q[0]}}</td>
		  <tr>
		  <tr>
		    <td>Fecha:</td>
		    <td>{{!q[2]}}</td>
		  <tr>
		  <tr>
		    <td>Etiquetas:</td>
		    <td>{{!q[3]}}</td>
		  <tr>
		</table>
		<a href="show_question?id={{!q[4]}}">Ver</a>
		</br></br>
		% end
		
		</br></br>
		<form class="preguntar" action="insert_question" method="POST">
	  Autor: <input type="text" name="author">
	  </br>
	  Título: <input type="text" name="title">
	  </br>
	  Etiquetas: <input type="text" name="tags">
	  </br>
	  Cuerpo: <textarea rows="4" cols="50" name="body"></textarea>
	  </br>
	  <input type="submit" value="Preguntar">
		</form> 
	  
	</body>
</html>
